:root {
    --primary: #50394c;
    --second: #d6cbd3;
    --ligth: rgba(10, 8, 8, 0.85);
    --dark: #e3cedc;
    --alert: indianred;
}
body {
    
}
.nav-link{
    color: #f1e4e4;
}

.bg-primary{background-color: var(--primary) !important;}
.bg-second{background-color: var(--second) !important;}
.bg-dark{background-color: var(--dark) !important;}
.bg-ligth{background-color: var(--ligth) !important;}

.btn-primary{
    background-color: var(--second);
}
.text-light{color: var(--ligth) !important}
.text-second{color: var(--second) !important}

aside {
    float: left;
    width: 120px;
}
img{
    width: 100%;
}
a {
    margin: 0 6px;
    display: inline-block;
    vertical-align: middle;
    color: #e7f0f0 !important;
}

.cardPerfileImg{
    top: 0.5rem;
    left: .5rem;
    right: 2rem;
    width: 65%;
    margin: auto;
  height: auto;
    
}
.card{
    max-height: 450px;
}

.icon {
    background: -moz-linear-gradient(-45deg, rgba(44, 43, 43, 0.16) 0%,rgba(231, 226, 218, 0.01) 100%);
    background: -webkit-linear-gradient(-45deg,rgba(17, 16, 16, 0.15) 0%,rgba(255,152,0,.01) 100%);
    background: linear-gradient(135deg,rgba(255,152,0,.15) 0%,rgba(255,152,0,.01) 100%);
}

.date {
    margin: 0 0 11px;
    padding: 0 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 18px;
    color: #ccecec;
    font-weight: 400;
    border: 1px solid #666;
    color: #100d0d;
}

.activo{
    color: #090908;
    border-color: #50394c;
}
.company{
    margin: 0 0 11px;
    font-size: 14px;
    color: #414040;
    font-weight: 400;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 1rem;
    background-color: var(--ligth);
}

.progress-bar {
    background-color: #89297a;
}

.copyright {
    text-align: center;
    padding-top: 30px
}

.credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff
}
.dropdown-menu {
    color: #dee1e4;
    background-color: #1f1e1e;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: var(--second);
}

footer {
    background: #282828;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 14px
}